/*COLORES DE PRUEBA*/
/*Cambiar tamaño de iconos y hacerlos png*/
* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #f0f0cf;
}

/* Header de la pagina*/

.logo {
    width: 306px;
    height: 66px;
    margin: 30px;
}

.menu-nav {
    background-color: blanchedalmond;
    color: black;
    border: 1px solid black;
}

.menu-container {
    display: grid;
    grid-template-columns: 15rem 15rem 15rem 15rem;
    grid-template-rows: auto;
    justify-content: center;
    

}

.menu-item {
    display: grid;
    justify-content: center;
}


/* Bloques de informacion*/

.container-info {
    display: grid;
    grid-template-columns: 40rem 40rem 40rem;
    grid-template-rows: 2fr;
    justify-content: center;
}

.block-info {
    background-color: #e4c385;
    width: 3fr;
    margin: 2rem 5rem 2rem 5rem;
    border: 1px solid black;
    display: grid;
    justify-content: center;
}

/* Seccion de nuestras maderas*/

.nuestras-maderas {
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.container-madera {
    width: 75%;
    justify-content: center;
}

.destacados {
    background-color: blanchedalmond;
    width: 80%;
    border: 1px solid black;
    display: grid;
    justify-items: center;
}

.producto-destacados {
    width: 70%;
    border: 1px solid black;
    margin: 0.5rem;
}

.productos-catalogo {
    background-color: blanchedalmond;
    border: 1px solid black;
    margin: 2rem;
    width: 70%;
}

.producto-item {
    background-color: antiquewhite;
    margin: 2rem;
    border: 1px solid black;
}

.combos {
    background-color: blanchedalmond;
    width: 50%;
    border: 1px solid black;
}

.cuadro-texto {
    background-color: blanchedalmond;
    font-size: 32px;
    margin: 4rem;
    padding: 2rem;
    border: 1px solid black;
}

.footer {
    border-top: 1px solid black;
}

.titulo-secundario {
    display: grid;
    justify-content: center;
    padding: 1rem
}

/*Transición y para el logo*/
.logo-ani {
    transition: all 1s;
}

/*Aca queria agregarle una animacion para que resaltara el logo pero al no ser png quedaba raro (modificar iconos y imagenes)*/
.logo-ani:hover {
    transform: scale(0.8) translate(50px, 20px);
}

/*Transición y animacion para los bloques de info*/
.block-info-ani {
    transition: all 1s;
}

.block-info-ani:hover {
    transform: scale(1.1);
    animation: changecolor 1s;
}

@keyframes changecolor {
    10% {
        background-color: #f0aa3b;
    }
}

.carousel {
    margin-left: 3rem;
}